/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 18, 2016, 11:13:08 AM
    Author     : apprentice
*/

/*canvas{
    margin: 10%;
}*/

/*.controls{
    margin-left: 10%;
}*/

.slider{
    width: 80% !important;
    /*margin-left: -10%;*/
}
body {
   background-color: #333;
   /*background-color: #7f8c8d;*/

}

p {
   color: white;
}

.white-text {
   color: white;
}
